@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
}

.light {
  --bg-color: #e6e6e6;
  --text-color: #000000;
}

body {
  /* background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s; */
  /* background-color: #e6e6e6; */
  /* background-color: #F7F7FC; */

}


@font-face { 
  font-family: "losevka"; 
  src: url('/fonts/Iosevka-Regular.ttc'); 
  font-weight: normal; 
  font-style: normal; 
} 


  



