@keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .colored-blurred-row {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    animation: moveLeftToRight 10s linear infinite; /* Adjust the duration for the desired slow motion effect */

    /* Colors for each column */
    background: linear-gradient(to right, 
      rgba(169, 169, 169, 0.5),
      rgba(138, 43, 226, 0.5),
      rgba(255, 0, 255, 0.5),
      rgba(0, 0, 255, 0.5)
    );
  }